@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

/* ? ColorPallete */
/* https://colorhunt.co/palette/635985443c6839305318122b */
/* https://medium.com/design-bootcamp/alternative-colors-for-pure-white-in-ui-ux-design-f861ab5a33d7 */

/* todo descargar esta imagen: https: //wall.alphacoders.com/big.php?i=244608 */
/* https://www.letsbuildui.dev/articles/how-to-animate-borders-in-css/  REVISAR THIS PAGINA */

/* ? PNG-RECOLOR TOOL */
/* https: //onlinepngtools.com/change-png-color#examples */

:root {
    --text-color-ghostwhite: #F8F8FF;
    --text-color-paleyellow: #F7E987;
    --background-color-1: #B9B4C7;
    --background-color-2: #635985;
    --background-color-3: #5C5470;
    --background-color-4: #443C68;
    --background-color-5: #393053;
    --background-color-6: #18122B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Mate SC", serif;
    color: var(--text-color-ghostwhite);
}

/* * GLOBAL CONTAINER */
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.top-banner {
    padding: 8px;
    text-align: center;
    color: var(--text-color-ghostwhite);
    background-color: var(--background-color-5);
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    font-size: 1.4em;
    font-weight: 900;
    background-color: var(--background-color-4);

    i {
        color: var(--text-color-paleyellow);
        transition: all 0.3s ease;
    }
}

.low-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    font-size: 1em;
    font-weight: 400;
    background-color: var(--background-color-3);

    img {
        display: inline;
        max-width: 30px;
        vertical-align: middle;
    }
}

/* * HERO SECTION CONFIGS */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: var(--background-color-1);
    background-image: url(./media/clouds-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: luminosity;

    .central-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./media/az-logo-purple.png);
        background-position: center;
        background-repeat: no-repeat;
        


        img {
            filter: drop-shadow(0 0 0.75rem var(--text-color-paleyellow));
            -webkit-filter: drop-shadow(0 0 0.75rem var(--text-color-paleyellow));
        }

        h1 {
            font-family: "Mate SC", serif;
            font-size: 3em;
            font-weight: 900;
            margin: 0px 0px 8px;
            color: var(--text-color-ghostwhite);
            text-shadow: 2px 2px 2px var(--background-color-6), 0 0 1em var(--text-color-ghostwhite), 0 0 0.2em var(--background-color-4);
        }

        .central-buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 0px 0px 8px;

            a {
                font-size: 1.2em;
                font-weight: 400;
                padding: 10px;
                background-color: var(--background-color-6);
                border: thin solid var(--background-color-6);
                border-radius: 8px;
            }
        }

        .redes-sociales {
            margin-top: 10px;
            padding: 10px;
            color: rgb(0, 0, 0);

            i {
                font-size: 65px;
                color: var(--text-color-paleyellow);
                text-shadow: var(--text-color-ghostwhite) 1px 0 10px;
                transition: all 0.3s ease;
            }

            i:hover {
                scale: 1.2;
                transform: scale(1.1);
            }

            .link-tr {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                border: thin solid var(--text-color-ghostwhite);
                background-color: var(--background-color-6);
                margin-top: 15px;
                border-radius: 10px;

                a {
                    font-weight: 500;
                    padding: 10px;
                    color: var(--text-color-paleyellow);
                    transition: all 0.3s ease;
                }

                a:hover {
                    color: var(--background-color-1);
                }
            }
        }

        .panel-botones {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 10px;

            a {
                font-size: 1em;
                margin: 5px;
                padding: .8em 1.4em .8em;
                color: var(--text-color-ghostwhite);
                font-weight: 600;
                background-color: rgba(0, 0, 0, 0);
                background-image: linear-gradient(var(--background-color-1), var(--background-color-4));
                border-radius: 8px;
                box-shadow: 0 8px 6px -6px black;
                transition: all 0.3s ease;
            }

            a:hover {
                transform: scale(1.1);
                box-shadow: 0 12px 12px -10px black;
                background-image: linear-gradient(var(--text-color-ghostwhite), var(--background-color-2));
                /*Cambiaelgradientealpasarelratón*/
                color: var(--text-color-ghostwhite);
            }
        }
    }
}
